body {
    text-align: center;
    margin: auto;
    margin-top: 3%;
}

.main-title {
    display: inline-block;
}

.book-icon {
    width: 3rem;
}

.title {
    float: left;
    font-family: 'Roboto';
    font-size: 2rem;
    color: rgb(2, 170, 170);
}

.create-new-book {
    padding-top: 3%;
    text-align: left;
    display: inline-block;
}

.form {
    margin-top: 2%;
}

.input-name {
    text-align: left;
}

.input-field {
    width: 100%;
}

.required {
    color: rgb(206, 0, 0);
}

.submit-button {
    text-align: center;
}

.button {
    margin-top: 5%;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(2, 170, 170);
    border: none;
    text-align: center;

    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

